@font-face {
    font-family: 'rsu';
    src: url('../fonts/rsu/rsu_regular-webfont.eot');
    src: url('../fonts/rsu/rsu_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/rsu/rsu_regular-webfont.woff2') format('woff2'), url('../fonts/rsu/rsu_regular-webfont.woff') format('woff'), url('../fonts/rsu/rsu_regular-webfont.svg#rsuregular') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'rsu';
    src: url('../fonts/rsu/rsu_bold-webfont.eot');
    src: url('../fonts/rsu/rsu_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/rsu/rsu_bold-webfont.woff2') format('woff2'), url('../fonts/rsu/rsu_bold-webfont.woff') format('woff'), url('../fonts/rsu/rsu_bold-webfont.svg#rsubold') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'rsu';
    src: url('../fonts/rsu/rsu_light-webfont.eot');
    src: url('../fonts/rsu/rsu_light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/rsu/rsu_light-webfont.woff2') format('woff2'), url('../fonts/rsu/rsu_light-webfont.woff') format('woff'), url('../fonts/rsu/rsu_light-webfont.svg#rsulight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'THSarabunNew';
    src: url('../fonts/th/thsarabunnew-webfont.eot');
    src: url('../fonts/th/thsarabunnew-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/th/thsarabunnew-webfont.woff') format('woff'), url('../fonts/th/thsarabunnew-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'THSarabunNew';
    src: url('../fonts/th/thsarabunnew_bolditalic-webfont.eot');
    src: url('../fonts/th/thsarabunnew_bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/th/thsarabunnew_bolditalic-webfont.woff') format('woff'), url('../fonts/th/thsarabunnew_bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'THSarabunNew';
    src: url('../fonts/th/thsarabunnew_italic-webfont.eot');
    src: url('../fonts/th/thsarabunnew_italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/th/thsarabunnew_italic-webfont.woff') format('woff'), url('../fonts/th/thsarabunnew_italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'THSarabunNew';
    src: url('../fonts/th/thsarabunnew_bold-webfont.eot');
    src: url('../fonts/th/thsarabunnew_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/th/thsarabunnew_bold-webfont.woff') format('woff'), url('../fonts/th/thsarabunnew_bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

$font-type1: 'THSarabunNew',
sans-serif;
$font-type2: 'rsu',
sans-serif;
