script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
script(src='js/bootstrap.min.js')
script(src='js/jquery.matchHeight-min.js')
script(src='js/wow.min.js')
script(src='js/custom.js')